---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>About</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <h1>A site for humans</h1>
    <h2>...Is a new Astro Site!</h2>
    <p>Working non-stop to learn the tutorial, please bear with me</p>
    <p>This will be updated once  I complete more turotial lessons. Thank you!</p>
  
</body>
</html>
